.country-item {
  overflow: hidden;
  padding: 0;

  &__link {
    color: var(--c-dark);
    text-decoration: none;
  }

  &__img {
    display: block;
  }

  &__content {
    padding: 20px;
  }

  &:not(&:last-child) {
    margin-bottom: 40px;
  }

  &__description {
    &:not(&:last-child) {
      margin-bottom: 5px;
    }
  }

  &__label {
    font-weight: 600;
  }
}
