@font-face {
  font-display: block;
  font-family: country-app;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/cp/country-app.eot?9dpfry');
  src: url('/fonts/cp/country-app.eot?9dpfry#iefix') format('embedded-opentype'),
    url('/fonts/cp/country-app.ttf?9dpfry') format('truetype'),
    url('/fonts/cp/country-app.woff?9dpfry') format('woff'),
    url('/fonts/cp/country-app.svg?9dpfry#country-app') format('svg');
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: country-app, sans-serif !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.cp-moon-o::before {
  content: '\e900';
}

.cp-search::before {
  content: '\e986';
}

.cp-sun::before {
  content: '\e9d4';
}

.cp-arrow-left2::before {
  content: '\ea40';
}
