:root {
  --f-primary: 'Nunito Sans';
  --f-size: 18px;
  --c-dark-blue: hsl(209deg 23% 22%);
  --c-very-dark-blue: hsl(207deg 26% 17%);
  --c-very-dark: hsl(200deg 15% 8%);
  --c-dark-gray: hsl(0deg 0% 52%);
  --c-very-light-gray: hsl(0deg 0% 98%);
  --c-white: hsl(0deg 0% 100%);
}

// Breakpoints
$b-small: 576px;
$b-medium: 768px;
$b-x-large: 1200px;
